<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/maquina/lista">Maquinas</a></li>
	<li class="breadcrumb-item"><a href="/maquina/ver/<%=maquina.id%>"><%= maquina.marca%> <%= maquina.modelo%></a></li>
	<li class="breadcrumb-item active">Hoja de Datos</li>
</ol>
<h1 class="display-4">Hoja de Datos</h1>

<form method="post" action="/maquina/cargarHojaDatos/<%=maquina.id%>">
  	<!--div class="form-row">
  		<div class="col-md-4 mb-3">
  			<label for="horasTotal"><h4>Horas Totales</h4></label>
			<input class="form-control form-control-sm" type="text" name="horasTotal" readonly="true" value="<%=maquina.horasTotal%>"></input>
  		</div>
  		<div class="col-md-4 mb-3">
  			<label for="horasParcial"><h4>Horas desde ultimo service</h4></label>
			<input class="form-control form-control-sm" type="text" name="horasParcial" readonly="true" value="<%=maquina.horasParcial%>"></input>
  		</div>
  		<div class="col-md-4 mb-3">
  			<label for="tipoMantenimiento"><h4>Tipo de Mantenimiento</h4></label>
			<select class="form-control form-control-sm" name="tipoMantenimiento">
				<option value="250">250Hs.</option>
				<option value="500">500Hs.</option>
				<option value="1000">1000Hs.</option>
				<option value="2000">2000Hs.</option>
			</select>
  		</div>		
  	</div-->

  	<hr>
	<div class="form-group">
		<label for="filtro"><h4>Filtros</h4></label>
		<hr>
		<div class="form-row">
			<div class="col-md-3 mb-3">
				<label for="filtro"><h5>Filtro de Aceite Motor</h5></label>
			</div>
			<div class="col-md-3 mb-3">
				<select class="form-control form-control-sm" name="codFAceiteMotor">
					<option value="null">No corresponde</option>
					<% piezas.forEach(function(pieza){ %>
						<% if(pieza.repuesto == 'Filtro'){ %>
							<% if(pieza.tipo == 'Aceite Motor'){ %>
								<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
							<%}%>
						<%}%>
					<%})%>
				</select>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-3 mb-3">
				<label for="filtro"><h5>Filtro de Aire</h5></label>
			</div>
			<div class="col-md-2 mb-3">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm">1:</label>
					<div class="col-sm-10">
						<select class="form-control form-control-sm" name="codFAire1">
							<option value="null">No corresponde</option>
							<% piezas.forEach(function(pieza){ %>
								<% if(pieza.repuesto == 'Filtro'){ %>
									<% if(pieza.tipo == 'Aire'){ %>
										<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
									<%}%>
								<%}%>
							<%})%>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-2 mb-3">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm">2:</label>
					<div class="col-sm-10">
						<select class="form-control form-control-sm" name="codFAire2">
							<option value="null">No corresponde</option>
							<% piezas.forEach(function(pieza){ %>
								<% if(pieza.repuesto == 'Filtro'){ %>
									<% if(pieza.tipo == 'Aire'){ %>
										<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
									<%}%>
								<%}%>
							<%})%>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-3 mb-3">
				<label for="filtro"><h5>Filtro de Aceite Hidraulico</h5></label>
			</div>
			<div class="col-md-2 mb-3">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm">1:</label>
					<div class="col-sm-10">
				        <select class="form-control form-control-sm" name="codFAceiteHid1">
							<option value="null">No corresponde</option>
							<% piezas.forEach(function(pieza){ %>
								<% if(pieza.repuesto == 'Filtro'){ %>
									<% if(pieza.tipo == 'Aceite Hidraulico'){ %>
										<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
									<%}%>
								<%}%>
							<%})%>
						</select>
					</div>
			    </div>
			</div>
			<div class="col-md-2 mb-3">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm">2:</label>
					<div class="col-sm-10">
				        <select class="form-control form-control-sm" name="codFAceiteHid2">
							<option value="null">No corresponde</option>
							<% piezas.forEach(function(pieza){ %>
								<% if(pieza.repuesto == 'Filtro'){ %>
									<% if(pieza.tipo == 'Aceite Hidraulico'){ %>
										<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
									<%}%>
								<%}%>
							<%})%>
						</select>
					</div>
			    </div>
			</div>
		</div>

		<div class="form-row" >
			<div class="col-md-3 mb-3">
				<label for="filtro"><h5>Filtro de Combustible</h5></label>
			</div>
			<div class="col-md-2 mb-3" >
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm">1:</label>
					<div class="col-sm-10">
						<select class="form-control form-control-sm" name="codFComb1">
							<option value="null">No corresponde</option>
							<% piezas.forEach(function(pieza){ %>
								<% if(pieza.repuesto == 'Filtro'){ %>
									<% if(pieza.tipo == 'Combustible'){ %>
										<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
									<%}%>
								<%}%>
							<%})%>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-2 mb-3" >
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm">2:</label>
					<div class="col-sm-10">
						<select class="form-control form-control-sm" name="codFComb2">
							<option value="null">No corresponde</option>
							<% piezas.forEach(function(pieza){ %>
								<% if(pieza.repuesto == 'Filtro'){ %>
									<% if(pieza.tipo == 'Combustible'){ %>
										<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
									<%}%>
								<%}%>
							<%})%>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-2 mb-3" >
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm">3:</label>
					<div class="col-sm-10">
						<select class="form-control form-control-sm" name="codFComb3">
							<option value="null">No corresponde</option>
							<% piezas.forEach(function(pieza){ %>
								<% if(pieza.repuesto == 'Filtro'){ %>
									<% if(pieza.tipo == 'Combustible'){ %>
										<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
									<%}%>
								<%}%>
							<%})%>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-2 mb-3" >
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm">4:</label>
					<div class="col-sm-10">
						<select class="form-control form-control-sm" name="codFComb4">
							<option value="null">No corresponde</option>
							<% piezas.forEach(function(pieza){ %>
								<% if(pieza.repuesto == 'Filtro'){ %>
									<% if(pieza.tipo == 'Combustible'){ %>
										<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
									<%}%>
								<%}%>
							<%})%>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>
	<div class="form-group">
		<label for="aceite"><h4>Aceites</h4></label>
		<hr>
		<div class="form-row">
			<div class="col-md-3 mb-3">
				<label for="aceite"><h5>Aceite de Motor</h5></label>
			</div>
			<div class="col-md-3 mb-3">
				<select class="form-control form-control-sm" name="codAceiteMotor">
					<option value="null">No corresponde</option>
					<% piezas.forEach(function(pieza){ %>
						<% if(pieza.repuesto == 'Aceite'){ %>
							<% if(pieza.tipo == 'Motor'){ %>
								<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
							<%}%>
						<%}%>
					<%})%>
				</select>
			</div>
			<div class="col-md-1 mb-3">
	    		<input class="form-control form-control-sm" type="number" name="cantAceiteMotor">
			</div>
			<div class="col-md-1 mb-3">
				<label for="Lts"><h6>L</h6></label>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-3 mb-3">
				<label for="aceite"><h5>Aceite Hidraulico</h5></label>
			</div>
			<div class="col-md-3 mb-3">
				<select class="form-control form-control-sm" name="codAceiteHid">
					<option value="null">No corresponde</option>
					<% piezas.forEach(function(pieza){ %>
						<% if(pieza.repuesto == 'Aceite'){ %>
							<% if(pieza.tipo == 'Hidraulico'){ %>
								<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
							<%}%>
						<%}%>
					<%})%>
				</select>
			</div>
			<div class="col-md-1 mb-3">
	    		<input class="form-control form-control-sm" type="number" name="cantAceiteHid">
			</div>
			<div class="col-md-1 mb-3">
				<label for="Lts"><h6>L</h6></label>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-3 mb-3">
				<label for="aceite"><h5>Aceite de Diferencial</h5></label>
			</div>
			<div class="col-md-3 mb-3">
				<select class="form-control form-control-sm" name="codAceiteDif">
					<option value="null">No corresponde</option>
					<% piezas.forEach(function(pieza){ %>
						<% if(pieza.repuesto == 'Aceite'){ %>
							<% if(pieza.tipo == 'Diferencial'){ %>
								<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
							<%}%>
						<%}%>
					<%})%>
				</select>
			</div>
			<div class="col-md-1 mb-3">
	    		<input class="form-control form-control-sm" type="number" name="cantAceiteDif">
			</div>
			<div class="col-md-1 mb-3">
				<label for="Lts"><h6>L</h6></label>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-3 mb-3">
				<label for="aceite"><h5>Aceite de Transmision</h5></label>
			</div>
			<div class="col-md-3 mb-3">
				<select class="form-control form-control-sm" name="codAceiteTrans">
					<option value="null">No corresponde</option>
					<% piezas.forEach(function(pieza){ %>
						<% if(pieza.repuesto == 'Aceite'){ %>
							<% if(pieza.tipo == 'Transmision'){ %>
								<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
							<%}%>
						<%}%>
					<%})%>
				</select>
			</div>
			<div class="col-md-1 mb-3">
	    		<input class="form-control form-control-sm" type="number" name="cantAceiteTrans">
			</div>
			<div class="col-md-1 mb-3">
				<label for="Lts"><h6>L</h6></label>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-3 mb-3">
				<label for="aceite"><h5>Aceite de Mandos Finales</h5></label>
			</div>
			<div class="col-md-3 mb-3">
				<select class="form-control form-control-sm" name="codAceiteMandoFinal">
					<option value="null">No corresponde</option>
					<% piezas.forEach(function(pieza){ %>
						<% if(pieza.repuesto == 'Aceite'){ %>
							<% if(pieza.tipo == 'Mandos Finales'){ %>
								<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
							<%}%>
						<%}%>
					<%})%>
				</select>
			</div>
			<div class="col-md-1 mb-3">
	    		<input class="form-control form-control-sm" type="number" name="cantAceiteMandoFinal">
			</div>
			<div class="col-md-1 mb-3">
				<label for="Lts"><h6>L</h6></label>
			</div>
		</div>
	</div>

	<hr>
	<div class="form-group">
		<label for="liquido"><h4>Liquidos</h4></label>
		<hr>
		<div class="form-row">
			<div class="col-md-3 mb-3">
				<label for="aceite"><h5>Liquido Refrigerante</h5></label>
			</div>
			<div class="col-md-3 mb-3">
				<select class="form-control form-control-sm" name="codLiqRefrigerante">
					<option value="null">No corresponde</option>
					<% piezas.forEach(function(pieza){ %>
						<% if(pieza.repuesto == 'Liquido'){ %>
							<% if(pieza.tipo == 'Refrigerante'){ %>
								<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
							<%}%>
						<%}%>
					<%})%>
				</select>
			</div>
			<div class="col-md-1 mb-3">
	    		<input class="form-control form-control-sm" type="number" name="cantLiqRefrigerante">
			</div>
			<div class="col-md-1 mb-3">
				<label for="Lts"><h6>L</h6></label>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-3 mb-3">
				<label for="aceite"><h5>Liquido de Freno</h5></label>
			</div>
			<div class="col-md-3 mb-3">
				<select class="form-control form-control-sm" name="codLiqFreno">
					<option value="null">No corresponde</option>
					<% piezas.forEach(function(pieza){ %>
						<% if(pieza.repuesto == 'Liquido'){ %>
							<% if(pieza.tipo == 'Freno'){ %>
								<option value="<%= pieza.codigo %>"><%= pieza.codigo%> <%= pieza.repuesto%> <%= pieza.tipo %> <%= pieza.marca %></option>
							<%}%>
						<%}%>
					<%})%>
				</select>
			</div>
			<div class="col-md-1 mb-3">
	    		<input class="form-control form-control-sm" type="number" name="cantLiqFreno">
			</div>
			<div class="col-md-1 mb-3">
				<label for="Lts"><h6>L</h6></label>
			</div>
		</div>
	</div>

	<hr>
	<div class="form-group">
		<label for="liquido"><h4>Grasa</h4></label>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" name="grasaCheck">
			<label class="form-check-label" for="grasaCheckBox">
			    Cambio de grasas
			</label>
		</div>
	</div>

	<div class="form-group">
		<label for="observaciones"><h4>Observaciones</h4></label>
		<textarea name="observaciones" class="form-control" placeholder="Ingrese aqui cualquier comentario referente al mantenimiento realizado."></textarea>
	</div>
	
	<input type="submit" value="Guardar" class="btn btn-primary">
</form>