<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/maquina/lista">Maquinas</a></li>
	<li class="breadcrumb-item"><a href="/maquina/ver/<%=maquina.id%>"><%= maquina.marca%> <%= maquina.modelo%></a></li>
	<li class="breadcrumb-item active">Nueva Reparacion</li>
</ol>
<h1 class="display-4">Nueva Reparacion</h1>

<form method="post" action="/reparacion/create/<%=maquina.id%>">
	<div class="form-group">
	    <label for="fecha"><h4>Fecha</h4></label>
	    <input id="datepicker" width="276" type="text" name="fecha" />

  	</div>
	<div class="form-group">
		<label for="horasTotal"><h4>Horas Totales</h4></label>
		<input class="form-control" type="text" name="horasTotal" readonly="true" value="<%=maquina.horasTotal%>"></input>
	</div>
	<label for="aceite"><h4>Repuestos Cambiados</h4></label>

    <dic class="form-group rep-dyn" data-name="group-dyn">
    	<input class="inputCant" type="hidden" name="cantidadRep" value="1" disabled="true">
	    <div data-role="dynamic-fields" class="dynamicFields form-group" data-size="1">
	        <div class="form-inline" data-role="campos-variables">
	            <div class="form-group clonedInput">
	                <input type="text" class="form-control campo-repuesto" name="rep1" placeholder="Repuesto">
	            </div>
	            <span>-</span>
	            <div class="form-group precioInput" data-role="precio-input">
	                <input type="number" class="form-control campo-precio" name="precio1" placeholder="Precio">
	            </div>
	            <button class="btn btn-danger" data-role="remove">
	                <span class="glyphicon glyphicon-remove">-</span>
	            </button>
	            <button class="btn btn-primary" data-role="add">
	                <span class="glyphicon glyphicon-plus">+</span>
	            </button>
	        </div>  <!-- /div.form-inline -->
	    </div>  <!-- /div[data-role="dynamic-fields"] -->
    </dic>
	<div class="form-group">
		<label for="observaciones"><h4>Observaciones</h4></label>
		<textarea name="observaciones" class="form-control" placeholder="Ingrese aqui cualquier comentario referente a la reparacion realizada."></textarea>
	</div>
	
	<input type="submit" value="Guardar" class="btn btn-primary">
</form>