<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/maquina/lista">Equipos</a></li>
	<li class="breadcrumb-item active"><%=maquina.marca%> <%=maquina.modelo%></li>
</ol>
<h1 class="display-4"><%=maquina.marca%> <%=maquina.modelo%>: <%=maquina.tipo%></h1>

<div class="row align-items-center justify-content-between">
	<div class="col float-left">
		<h2 class="display-4 d-inline">Detalles</h2>
	</div>
	<div class="col float-right">
		<form method="post" action="/maquina/verHojaDatos/<%=maquina.id%>" class="" style="margin-left: 5px;">
			<input type="submit" value="Hoja de Datos" class="btn btn-primary float-right" style="margin-left: 5px;">
		</form>
		<form method="post" action="/assets/images/pdf.pdf" class="">
			<input type="submit" value="Hoja de Mantenimiento" class="btn btn-primary float-right">
		</form>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th scope="col" style="text-align: center;">Codigo</th>
				<th scope="col" style="text-align: center;">Designación</th>
				<th scope="col" style="text-align: center;">Marca</th>
				<th scope="col" style="text-align: center;">Modelo</th>
				<th scope="col" style="text-align: center;">S/N</th>
				<th scope="col" style="text-align: center;">Origen</th>
				<th scope="col" style="text-align: center;">Año Fabricación</th>
			</thead>
			<tbody>
				<tr>
					<td style="text-align: center;"><%= maquina.codigo %></td>
					<td style="text-align: center;"><%= maquina.tipo %></td>
					<td style="text-align: center;"><%= maquina.marca %></td>
					<td style="text-align: center;"><%= maquina.modelo %></td>
					<td style="text-align: center;"><%= maquina.nroSerie %></td>
					<td style="text-align: center;"><%= maquina.origen %></td>
					<td style="text-align: center;"><%= maquina.fechaFab %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				
				<th scope="col" style="text-align: center;">Fecha Servicio</th>
				<th scope="col" style="text-align: center;">Potencia</th>
				<th scope="col" style="text-align: center;">Peso</th>
				<th scope="col" style="text-align: center;">Obra Actual</th>
				<th scope="col" style="text-align: center;">Precio</th>
				<th scope="col" style="text-align: center;">Horas Totales</th>
			</thead>
			<tbody>
				<tr>
					<td style="text-align: center;"><%= maquina.fechaServicio %></td>
					<td style="text-align: center;"><%= maquina.potencia %></td>
					<td style="text-align: center;"><%= maquina.peso %>Kg</td>
					<td style="text-align: center;"><a href="/obra/ver/<%= obra.id%>"><%= obra.nombre %></a></td>
					<td style="text-align: center;">U$D <%= maquina.precio %></td>
					<td style="text-align: center;"><%= maquina.horasTotal%></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th scope="col" style="text-align: center;">Observaciones</th>
			</thead>
			<tbody>
				<tr>
					<td style="text-align: center;"><%= maquina.observaciones %></td>
				</tr>
			</tbody>
		</table>
	</div>	
</div>

<div class="row align-items-center justify-content-between">
	<div class="col float-left">
		<h4 class="display-4 d-inline">Mantenimientos</h4>
	</div>
	<div class="col float-right">
		<!--button class="btn btn-primary">Nuevo Mantenimiento</button-->
		<form method="post" action="/mantenimiento/add/<%= maquina.id %>/" class="">
			<input type="submit" value="Nuevo Mantenimiento" class="btn btn-primary float-right">
		</form>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th scope="col" style="width: 20%; text-align: center;">Fecha</th>
				<th scope="col" style="width: 10%; text-align: center;">Horas Totales</th>
				<th scope="col" style="width: 10%; text-align: center;">Tipo Mantenimiento</th>
				<th scope="col" style="width: 45%; text-align: center;">Observaciones</th>
				<th scope="col" colspan="2" style="width: 5%; text-align: center;">Acciones</th>
			</thead>
			<tbody>
				<% mantenimientos.forEach(function(mantenimiento){ %>
					<tr style="vertical-align: middle">
						<td style="vertical-align: middle; text-align: center;"><%= mantenimiento.fecha %></td>
						<td style="vertical-align: middle; text-align: center;"><%= mantenimiento.horasTotal %></td>
						<td style="vertical-align: middle; text-align: center;"><%= mantenimiento.tipoMantenimiento %>Hs.</td>
						<td style="vertical-align: middle; text-align: center;">
							<% if(mantenimiento.observaciones == ""){%>
								-
							<%} else {%>

								<%= mantenimiento.observaciones %>
							<%}%>
						</td>
						<td>
							<div>
								<form method="post" action="/mantenimiento/ver/<%= mantenimiento.id %>/<%= maquina.id %>/" class="d-inline">
									<input type="submit" value="Ver" class="btn btn-success">
								</form>
							</div>
						</td>
						<td>
							<button class="btn btn-danger" data-toggle="modal" data-target="#eliminarModal" data-id="<%= mantenimiento.id %>">Borrar</button>
						</td>
					</tr>
				<%})%>
			</tbody>
		</table>
	</div>
</div>

<div class="row align-items-center justify-content-between">
	<div class="col float-left">
		<h4 class="display-4 d-inline">Reparaciones</h4>
	</div>
	<div class="col float-right">
		<form method="post" action="/reparacion/add/<%= maquina.id %>/" class="">
			<input type="submit" value="Nueva Reparacion" class="btn btn-primary float-right">
		</form>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th scope="col" style="width: 11%; text-align: center;">Fecha</th>
				<th scope="col" style="width: 5%; text-align: center;">Horas Totales</th>
				<th scope="col" style="width: 5%; text-align: center;">Horas Parciales</th>
				<th scope="col" style="width: 13%; text-align: center;">Filtro</th>
				<th scope="col" style="width: 20%; text-align: center;">Aceite</th>
				<th scope="col" style="width: 39%; text-align: center;">Observaciones</th>
				<th scope="col" style="width: 39%; text-align: center;">Acciones</th>
			</thead>
			<tbody>
				<% reparaciones.forEach(function(reparacion){ %>
					<tr style="vertical-align: middle">
						<td style="vertical-align: middle; text-align: center;"><%= reparacion.fecha %></td>
						<td style="vertical-align: middle; text-align: center;"><%= reparacion.horasTotal %></td>
						<td style="vertical-align: middle; text-align: center;"><%= reparacion.horasParcial %></td>
						<td style="vertical-align: middle; text-align: center;">
							<% if(reparacion.filtro == null){%>
								No se cambió
							<%} else {%>
								<% piezas.forEach(function(pieza){ %>
									<%if(pieza.id === reparacion.filtro){%>
										<%= pieza.marca%> <%= pieza.tipo%>
									<%}%>
								<%})%>
							<%}%>

						</td>
						<td style="vertical-align: middle; text-align: center;">
							<% if(reparacion.aceite == null){%>
								No se cambió
							<%} else {%>
								<% piezas.forEach(function(pieza){ %>
									<%if(pieza.id === reparacion.aceite){%>
										<%= reparacion.cantidadAceite %>Lts. <%= pieza.marca%> <%= pieza.tipo%>
									<%}%>
								<%})%>
							<%}%>
						</td>
						<td style="vertical-align: middle; text-align: center;">
							<% if(reparacion.observaciones == ""){%>
								-
							<%} else {%>

								<%= reparacion.observaciones %>
							<%}%>
						</td>
						<td>
							<div>
								<form method="post" action="/reparacion/ver/<%= reparacion.id %>/<%= maquina.id %>/" class="d-inline">
									<input type="submit" value="Ver" class="btn btn-success">
								</form>
							</div>
						</td>
					</tr>
				<%})%>
			</tbody>
		</table>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta seguro que desea eliminar la opcion elegida? Esta accion no se puede deshacer.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <!--button type="button" class="btn btn-danger">Eliminar</button-->
        <form method="post" action="/" class="d-inline">
			<input type="submit" value="Eliminar" class="btn btn-danger">
		</form>
      </div>
    </div>
  </div>
</div>


